<section class="journal-area" id="blog">
    <div class="container">
        <div class="jurnal-section-title">
            <div class="our-approach-title">
                <div class="shpae">
                    {% include "../svg/approach-title-shape.twig" %}
                    {% include "../svg/approach-title-shape.twig" %}
                    {% include "../svg/approach-title-shape.twig" %}
                    {% include "../svg/approach-title-shape.twig" %}
                    {% include "../svg/approach-title-shape.twig" %}
                </div>
                <h2>journal
                    <span>buzhi capital</span></h2>
            </div>
            <div class="dots-group-shape">
                {% include "../svg/dots-group-shape.twig" %}
            </div>
        </div>
        <div class="journal-wrapper">
            <a href="blog.html" class="single-journal">
                <span class="cornar-shape"></span>
                <div class="journal-title">
                    <h4>Introducing Buzhi: A New Frontier in Early-Stage Tech Investments</h4>
                    <span class="date">29.11.22</span>
                </div>
                <div class="thumb">
                    <img src="./assets/img/journal-01.png" alt="journal">
                </div>
            </a>
            <a href="blog.html" class="single-journal">
                <span class="cornar-shape"></span>
                <div class="journal-title">
                    <h4>Building Strong Communities</h4>
                    <span class="date">29.11.22</span>
                </div>
                <div class="thumb">
                    <img src="./assets/img/journal-02.png" alt="journal">
                </div>
            </a>
        </div>
    </div>
</section>