<footer class="footer-area">
    <img class="footer-shape" src="./assets/img/shape/footer-shape.png" alt="footer-shape">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-image-text">
                <div>
                    <img style="--i:1" src="./assets/img/footer/text-01.svg" alt="footer-text">
                </div>
                <div>
                    <img style="--i:2" src="./assets/img/footer/text-02.svg" alt="footer-text">
                </div>
                <div>
                    <img style="--i:3" src="./assets/img/footer/text-03.svg" alt="footer-text">
                </div>
                <div>
                    <img style="--i:4" src="./assets/img/footer/text-04.svg" alt="footer-text">
                </div>
                <div>
                    <img style="--i:5" src="./assets/img/footer/text-05.svg" alt="footer-text">
                </div>
            </div>
            <ul class="footer-social">
                <li><a href="#">hello@buzhi.capital</a></li>
                <li><a href="#">[twitter]</a></li>
                <li><a href="#">[top]</a></li>
            </ul>
            <div class="footer-bottom">
                <img src="./assets/img/all-svg/footer-earth.svg" alt="footer-earth">
                <p>© buzhi.capital. ALL RIGHTS RESERVED 2024</p>
            </div>
        </div>
    </div>
</footer>