<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BUZHI</title>
    <link rel="icon" href="assets/img/faveicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="all">
</head>
<body class="{{class}}" style="background-image: url('./assets/img/body-bg.jpg');">

