<!-- Header Link -->
{% include "elements/header-link.twig" %}
<!-- Header  -->
{% include "elements/header.twig" %}


<main>
    <!-- Banner Area Start -->
    <section class="banner-area">
        <div class="container">
            <div class="banner-wrapper">
                <!-- shapes Start -->
                <img class="banner-star-shape" src="./assets//img/shape/star-shape.svg" alt="shape">
                <img class="banner-cercle-shape" src="./assets//img/shape/cercle-border-shape.svg" alt="shape">
                <span class="border-top-angle"></span>
                <span class="border-bottom-angle"></span>
                <!-- shapes End -->
                
                <div class="banner-inner">
                    <div class="banner-text-image">
                        <img src="./assets//img/banner-text.svg" alt="banner-text">
                        {% include "elements/svg/banner-text-underline.twig" %}
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius incidunt, hic nihil officia reprehenderit architecto omnis? Minus hic ullam voluptatem deleniti ex optio est. Veritatis sapiente nulla optio minus, fugit illum repudiandae temporibus necessitatibus nostrum veniam quis, ea cupiditate nisi in dicta error repellendus. Necessitatibus sed qui dolore quae laborum fugiat distinctio explicabo, vel ea ut voluptatum praesentium, in, eum ipsa sapiente minima totam voluptatem accusantium repellendus magni saepe veniam! Fugiat doloribus consectetur est ad sapiente, id optio aliquid omnis, adipisci aliquam hic vero sit distinctio excepturi eligendi nesciunt mollitia nobis! Neque aspernatur sequi, corporis modi excepturi dolore maiores voluptatibus?
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->
</main>
    
        

<!-- Footer -->
{% include "elements/footer.twig" %}
<!-- Footer script-->
{% include "elements/footer-script.twig" %}