<!-- Header Link -->
{% include "elements/header-link.twig" %}
<!-- Header  -->
{% include "elements/header.twig" %}


<main>
    <!-- Banner Area Start -->
    <section class="banner-area">
        <div class="container">
            <div class="banner-wrapper">
                <!-- shapes Start -->
                <img class="banner-bg-shape" src="./assets/img/bg-shape.png" alt="shape">
                <img class="banner-star-shape" src="./assets/img/shape/star-shape.svg" alt="shape">
                <img class="banner-cercle-shape" src="./assets/img/shape/cercle-border-shape.svg" alt="shape">
                <span class="border-top-angle"></span>
                <span class="border-bottom-angle"></span>
                <!-- shapes End -->
                <div class="banner-inner">
                    <div class="banner-text-image">
                        <img src="./assets//img/banner-text.svg" alt="banner-text">
                        {% include "elements/svg/banner-text-underline.twig" %}
                    </div>
                    <!-- Investing Section Start -->
                    <div class="investing-wrapper">
                        <div class="investing-left">
                            <h6>scroll to <br>explore</h6>
                            <img src="./assets/img/shape/investing-shape-01.svg" alt="investing">
                        </div>
                        <div class="investing-right">
                            <div class="dots-group-shape">
                                {% include "elements/svg/dots-group-shape.twig" %}
                            </div>
                            <img class="plus-shape" src="./assets/img/shape/plus.svg" alt="shape">
                            <span class="investing-angle"></span>
                            <div class="investing-right-inner">
                                <h4>investing in early stage
                                    tech explorations</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Investing Section End -->
                    <!-- Discover Section Start -->
                    <div class="discover-wrapper">
                        <img src="./assets/img/shape/investing-shape-02.svg" alt="shape">
                        <div class="discover-left">
                            <h4>Discovering <br>
                                <span>the Unknown</span></h4>
                            <p>
                                <span></span> We believe that the most groundbreaking technological innovations emerge at the fringes. That's why we support global founders who dare to experiment with technology, even when there's no clear use case for their creations.
                                <br>
                                <br>
                                <span></span>不知 <i>means ‘unknown’ in Chinese. Buzhi represents our commitment to backing the unexplored.</i>
                            </p>
                        </div>
                        <div class="discover-right">
                            {% include "elements/svg/discover-light.twig" %}
                        </div>
                    </div>
                    <!-- Discover Section End -->
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Our Approach Area Start -->
    <div class="our-approach-area">
        <div class="container">
            <div class="our-approach-wrapper">
                <div class="our-approach-content">
                    <div class="our-approach-title">
                        <div class="shpae">
                            {% include "elements/svg/approach-title-shape.twig" %}
                            {% include "elements/svg/approach-title-shape.twig" %}
                            {% include "elements/svg/approach-title-shape.twig" %}
                            {% include "elements/svg/approach-title-shape.twig" %}
                            {% include "elements/svg/approach-title-shape.twig" %}
                        </div>
                        <h2>our
                            <span>approach</span></h2>
                    </div>
                    <div class="approach-items">
                        <div class="approach-items-inner">
                            <div class="single-approach-item">
                                <div class="image single-approach-item-01-image">
                                    <div class="image-inner ">
                                        <img src="./assets/img/all-svg/approach-01.svg" alt="approach">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>Early-Stage Investment</h4>
                                    <p>We invest in seed or pre-seed rounds in exchange for equity or crypto-tokens.</p>
                                </div>
                            </div>
                            <div class="single-approach-item">
                                <div class="image">
                                    <div class="image-inner">
                                        <img src="./assets/img/all-svg/approach-02.svg" alt="approach">
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>Problem Solving</h4>
                                    <p>We collaborate with founders on challenging problems and conduct adversarial audits of their technology.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-approach-item">
                            <div class="image">
                                <div class="image-inner">
                                    <img src="./assets/img/all-svg/approach-03.svg" alt="approach">
                                </div>
                            </div>
                            <div class="content">
                                <h4>Hands-On Collaboration</h4>
                                <p>We work closely with your team, tinkering with your tech and helping you build a strong community.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-approach-map-wrap">
                    <div class="our-approach-map">
                        <img src="./assets/img/map.png" alt="map">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Approach Area End -->

    <!-- Our Experince Area Start -->
    <div class="experince-area">
        <div class="container">
            <div class="experince-wrapper">
                <div class="shape">
                    <img src="./assets/img/all-svg/experince-shpe-02.svg" alt="experience">
                </div>
                <div class="experince-wrap">
                    <div class="experince-thumb">
                        {% include "elements/svg/experince-thumb.twig" %}
                    </div>
                    <div class="experince-content">
                        <div class="title">
                            <img src="./assets/img/all-svg/experince-shpe-01.svg" alt="experience">
                            <h2>our experience  
                               <span>comes from</span></h2>
                        </div>
                        <div class="content">
                            <a href="#">
                                <span>OpenZeppelin</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Decentraland</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>The Graph</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Fundit</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Aleph</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Optimism</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Li.finance</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Mimic</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Exactly</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Mailchain</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Connext</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Pods</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>ODOS</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Cedalio</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Flashbots</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Snapshot</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>Tally</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                            <a href="#">
                                <span>POAP</span>
                                {% include "elements/svg/approach-title-shape.twig" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Experince Area End -->
</main>
    

<p style="margin-top: 100px; opacity: 0;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis voluptatem corrupti perspiciatis optio. Voluptates repellendus nesciunt officia quia perspiciatis aut eum earum dolorem vitae fugiat, quos doloremque ad. Omnis!
</p>



<!-- Footer -->
{% include "elements/footer.twig" %}
<!-- Footer script-->
{% include "elements/footer-script.twig" %}
